name: Firebase Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Firebase Deploy
        env:
          FIREBASE_TOKEN: $\{{ secrets.FIREBASE_TOKEN }}
        run: firebase deploy --only hosting --project money-in-the-bank-app --force

      - name: Upload Deployment Log
        uses: actions/upload-artifact@v4
        with:
          name: firebase-deploy-log
          path: firebase-debug.log
